.byebug_history
.DS_Store
.irb_history
.ruby-gemset
.ruby-version
.rvmrc
*.gem
*.log
*.rbc
*~
/_yardoc/
/.bundle/
/.config
/.env
/.env.*.local
/.env.local
/.idea/
/.vscode/
/.yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/scratch/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle/
